*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.header{
   background-image: url('../Asset/img-1.jpg');
   position: relative;
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 65vh;
   width: 95%;
   opacity: 0.8;
   border-radius: 12px 10px 20px;
   margin-top: 15px;
   margin-left: 25px;
   margin-right: 25px;
   margin-bottom:60px;
}
.header1{
    
    padding-top: 70px;
    display:flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.header1 h1{
    color: aliceblue;
    font-size: 3em;
}
.navbar{
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-right: 60px;
}
.left{
    display: flex;
    align-items: center;
    gap:20px;
}
.right{
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: center;
}
.right a{
    text-decoration: none;
    color: rgb(33,97,89);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.right a:hover{
    text-decoration: underline;
}
.right .btn{
    cursor: pointer;
    background-color: rgb(33,97,89);
    color: white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    text-align: center;
}
.navbar ul li{
    list-style: none;
    margin-right: 20px;
    
}
.navbar ul li .n1:hover{
    background-color: rgb(33,97,89);
    color: white;
    border-radius: 5px;
}
li:last-child{
    margin-right: 0;
}
.navbar ul li .n1{
    text-decoration: none;
    color:rgb(33,97,89) ;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    line-height: 24px;
}
.navlink{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.dropdown-btn{
    color: rgb(33,97,89);
    border: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color:rgb(33,97,89) ;
    font-size: 18px;
    font-weight: 700;
    font-family:sans-serif;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow:0 8px 16px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.search-bar{
    display: flex;
    width: 42%;
   
}
.search-bar button{
    border: none;
    outline: none;
    padding: 0 20px;
    background-color:rgb(33,97,89);
    border-radius: 0 5px 5px 0px;
    cursor: pointer;
   
}
.search-bar input[type="text"]{
    width: 100%;
    padding: 15px 18px;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
}
.search-bar i{
    color: white;
}
.main{
    margin-left: 25px;
    margin-right: 25px;
}
.m{
    text-align: center;
    padding: 10px;
} 

.m p{
    font-Weight:400;
    font-Size:20px;
    Line-Height:24px;
    Color:#064d44;
    padding-bottom: 25px;
}

.m h1{
    color:#3b4144;
    font-size: 38px;
    line-height: 24px;
    font-weight: 400;  
    padding: 10px;
}
.row-elements{
    display: flex;
    
}
.row h2{
font-Weight:500;
font-Size:28px;
Line-Height:28px;
Color:#064d44;
}
.imgs{
   
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
 .listing{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
 }
 .row {
    flex: 1;
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  .row:hover img{
    transform: scale(1.1); 
  }
  .row img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out; 
    padding-bottom: 8px;
  }
  
  .row:hover img {
    transform: scale(1.2);
  }
  .row .element{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: .5rem;
      margin-bottom: 8px;
  } 
  .row .element p{
      padding: 5px;
      line-height: 24px;
      font-weight: 400;
      
  }
  .row h5{
      padding:8px;
  }
  
 .box-container {
    display: flex;
    gap: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .row .element p i{
      font-size: 19px;
      color: #064d44;
  }
  .row .btn{
      text-decoration: none;
      background-color: rgb(33,97,89);
      color: white;
      border: none;
      cursor: pointer;
      padding: 8px 15px;
      font-size: 18px;
      line-height: 16px;
      font-weight: 400;
      border-radius: 5px;
  }